/* Your Website Styles */
body {
  background: #85CEC2;
}


/* Gallery Stying */
a:hover{
  color: #85CEC2;
  font-variant: small-caps;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  background: #85CEC2;
  overflow: hidden;
  text-align: center;
}


.controls {
  padding: 2.5em;
  bottom: -120px;
  width: 100%;
  text-align: center;
}


img {
  margin: 2em;
  -webkit-transform: rotate(0deg);

}

header {
  background: #4D4D4D;
  -webkit-animation: space 360s infinite normal both linear;
}

nav, a {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #4d4d4d;
}
.main-nav {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: black;
  background: white;
}

.gallery .controls img {
  border: 5px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}